.user-dashboard-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 50px;
}

@media screen and (min-width: 768px) {
  .user-dashboard-main-container {
    padding: 10%;
  }
}
